.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 2rem;
}
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}
.reservation-img {
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/oNama1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
.reservation-img .text {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  margin-left: -5rem;
}
h1 {
  color: hsla(28, 29%, 62%);
  margin: 0.625rem 0;
  font-weight: 300;
}
p {
  color: #f5f5f5;
  font-size: 1.125rem;
  font-weight: 300;
}
.reservation-img .text span {
  font-weight: bold;
  color: hsla(28, 29%, 62%);
}
.order-food {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  max-width: 50%;
}
.order-food-img {
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/hrana3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.order-food-img .text {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: -5rem;
}
.order-food-img .text button {
  text-align: right;
}
