.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start vertically */
  margin: 5rem 2rem;
}

.reservation,
.order-food {
  flex-basis: 50%; /* Each section takes 50% of the container */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-img,
.order-food-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative; /* Make position relative to allow absolute positioning */
}
.reservation-img {
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/oNama1.png");
  margin-right: 5rem;
}
.order-food-img {
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/hrana3.png");
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 5rem;
}

.reservation-img .text,
.order-food-img .text {
  position: absolute; /* Position text absolutely inside the image */
  color: #f5f5f5;
  padding: 2rem; /* Add padding for better readability */
}

.text-rezervacija {
  text-align: left;
  position: relative;
  left: -20%;
}
.text-order {
  position: relative;
  text-align: right;
  /* right: 95%; */
  right: -20%;
}
h1 {
  color: hsla(28, 29%, 62%);
  margin: 0.625rem 0;
  font-weight: 300;
}
p {
  color: #f5f5f5;
  font-size: 1.125rem;
  font-weight: 300;
}
.reservation-img .text-rezervacija span {
  font-weight: bold;
  color: hsla(28, 29%, 62%);
}

/* media query */

@media (max-width: 850px) {
  .contact {
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
  }
  .text-rezervacija h1 {
    font-size: 40px;
  }
  .text-rezervacija p {
    font-size: 18px;
  }
  .text-order h1 {
    font-size: 40px;
  }
  .text-order p {
    font-size: 18px;
  }
  .text-order button {
    font-size: 18px;
  }

  .reservation,
  .order-food {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .reservation-img,
  .order-food-img {
    width: 24rem;
    height: 20rem;
    border-radius: 8px;
    margin: 0;
  }

  .reservation-img .text,
  .order-food-img .text {
    position: static;
    padding: 1rem;
  }

  .text-rezervacija,
  .text-order {
    text-align: center;
    left: 0;
    right: 0;
  }
}

@media (max-width: 640px) {
  .contact {
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
  }

  .text-rezervacija h1 {
    font-size: 30px;
  }
  .text-rezervacija p {
    font-size: 14px;
  }
  .text-order h1 {
    font-size: 30px;
  }
  .text-order p {
    font-size: 14px;
  }
  .text-order button {
    font-size: 14px;
  }
  .reservation,
  .order-food {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }

  .reservation-img,
  .order-food-img {
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
    margin: 0;
  }

  .reservation-img .text,
  .order-food-img .text {
    position: static;
    padding: 1rem;
  }

  .text-rezervacija,
  .text-order {
    text-align: center;
    left: 0;
    right: 0;
  }
}

@media (min-width: 1024x) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4rem 1.5rem;
    width: fit-content;
  }
  .reservation,
  .order-food {
    flex-basis: 50%;
    margin-bottom: 1.5rem;
  }
  .reservation-img,
  .order-food-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0;
  }
  .reservation-img .text-rezervacija,
  .order-food-img .text-order {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .text-rezervacija {
    left: -15%;
  }
  .text-order {
    right: -15%;
  }
}
