.galerija {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/galerija.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  color: rgba(185, 155, 127, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.galerija-text {
  text-align: center;
  max-width: 800px;
}
.galerija-text h2 {
  font-size: 60px;
  font-weight: 300;
}
.galerija-text p {
  font-size: 24px;
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
  color: #f5f5f5;
  font-weight: 300;
}

/* media query */

@media (max-width: 840px) {
  .galerija-text h2 {
    font-size: 40px;
  }
}

@media (max-width: 640px) {
  .galerija-text h2 {
    font-size: 30px;
  }
  .galerija-text p {
    font-size: 14px;
  }
}
