.card-container {
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px hsl(160, 15%, 29%);
  display: block;
  align-items: center;

  margin: 0.5rem;
  height: fit-content;
}
h1 {
  font-family: "Jost";
}

.card-img {
  width: 100%;
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
}
.ime-i-cena {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title,
.card-cena {
  font-size: 2rem;
  margin: 0.5rem 5%;
}
.card-title {
  text-align: left;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.card-cena {
  text-align: right;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
}

.card-description {
  margin: 0.5rem 5%;
  text-align: left;
}

.card-btn {
  text-align: center;
  width: 75%;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0.3rem 0.5rem 1rem;
  background: none;
  border: 2px solid hsla(28, 29%, 62%);
  font-size: 24px;
  font-weight: 300;
  color: white;
  border-radius: 12px;
  transition: 0.5s;
}

.card-btn:hover {
  background-color: hsla(28, 29%, 62%);
}
