.cela-strana {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-jelovnik {
  width: 100%;
  min-height: 40vh;
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/hrana2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-jelovnik h1 {
  font-size: 3.75rem;
}
.uvod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 8rem 8rem 2rem;
}
h1 {
  font-size: 3rem;
}
.uvod p {
  text-align: center;
  padding: 0 8rem;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.dorucak {
  width: 80vw;
  height: 30vh;
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/dorucak-cover.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid hsla(28, 29%, 62%);
}
.hidden {
  display: none;
}

.jela-od-juneceg-mesa {
  width: 80vw;
  height: 30vh;
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/junetina-cover.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid hsla(28, 29%, 62%);
}
.jela-od-svinjskog-mesa {
  width: 80vw;
  height: 30vh;
  background-image: linear-gradient(
      rgba(56, 55, 53, 0.3),
      rgba(56, 55, 53, 0.7)
    ),
    url("../../assets/svinja-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid hsla(28, 29%, 62%);
}

/* media query */

@media (max-width: 1024px) {
  .header-jelovnik h1 {
    font-size: 68px;
  }
  .uvod h1 {
    font-size: 60px;
    text-align: center;
  }
  .uvod p {
    font-size: 24px;
    height: 16rem;
    width: 45rem;
  }
  .dorucak p,
  .jela-od-juneceg-mesa p,
  .jela-od-svinjskog-mesa p {
    margin: 0 5rem;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .dorucak p,
  .jela-od-juneceg-mesa p,
  .jela-od-svinjskog-mesa p {
    margin: 0 5rem;
    text-align: center;
    font-size: 16px;
  }
  .dorucak h1,
  .jela-od-juneceg-mesa h1,
  .jela-od-svinjskog-mesa h1 {
    font-size: 32px;
    text-align: center;
  }
  .header-jelovnik h1 {
    font-size: 40px;
  }
  .uvod h1 {
    font-size: 32px;
  }
  .uvod p {
    font-size: 16px;
    width: 45rem;
    height: fit-content;
  }
}
@media (max-width: 640px) {
  .uvod p {
    font-size: 12px;
    width: 25rem;
    min-height: 25rem;
    display: none; /* mozda ovako pa da se na telefonu ne vidi ovaj uvodni tekst */
  }
}
