nav {
  width: 100%;
  color: rgba(185, 155, 127, 255);
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  height: 10vh;
}
.logo {
  width: 180px;
  cursor: pointer;
}
nav ul a {
  font-family: "Bebas Neue";
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  color: #f5f5f5;
  transition: ease-in;
  position: relative;
  padding-bottom: 10px 0 5px;
}
nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f5f5f5;
  transition: width 0.5s ease;
}
nav ul li:hover::before,
nav ul li.active::before {
  width: 100%;
}
nav ul li:hover {
  text-decoration: none;
}
.scrolled {
  background-color: hsla(40, 3%, 21%, 0);
  backdrop-filter: blur(5px);
}
.menu-icon {
  display: none;
}

.desktop-logo {
  display: block;
}

.mobile-logo {
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    width: 140px;
  }
  nav ul li {
    margin: 10px 15px;
  }
}
@media (max-width: 840px) {
  .nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #283732;
    z-index: -1;
    width: 100%;
    padding-top: 70px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  nav ul li:hover::before,
  nav ul li.active::before {
    width: 100%;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    left: -1200px;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin: 25px 40px;
  }
}
@media (max-width: 640px) {
  .nav {
    padding: 15px 0;
  }
  nav ul {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #283732;
    z-index: -1;
    width: 100%;
    padding-top: 70px;
    transition: 0.7s;
  }
  nav ul li {
    display: block;
    margin: 25px 40px;
  }
  nav ul li:hover::before,
  nav ul li.active::before {
    width: 100%;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .hide-mobile-menu {
    left: -1200px;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    display: block;
    margin: 25px 40px;
  }
}
